html,body{
  width:100%;
  height: 100%;
}
body {
  background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: repeat-y;


}
#holder{
  min-height: 100%;
  position:relative;
}
/*#container{
position: sticky;
position: -webkit-sticky;
top:0;
}*/
#nav{
  /*position: absolute;*/
  position: fixed;
  box-sizing: border-box;
  top:30;
  left: 25;
  background-color: rgba(227,234,231,0.90);
  border: 2px solid rgba(227,234,231,0.90);
  border-radius: 18px;
  /*width: 200px;*/
  width:15%;
  display: inline-block;
  float: left;
  z-index:1000;
}
#title {
  /*position: absolute;*/
  position: relative;
  top: 0;
  padding: 1px;

  background-color: rgba(0, 99, 255, 0);
  border: 1px solid rgba(0, 99, 255, 0);
  color:white;
  font-family:Bungee Shade;
  text-align: center;
  box-sizing: border-box;
  /*width:100%;*/
  width: 85%;
  float: right;
  font-size:30px;
  display: inline-block;

  /*  display: inline-block;
  /*  margin-right: 0px;
  margin-left:170px;*/
}
#title-archive{
  position: relative;
  top: 0;
  padding: 1px;

  background-color: rgba(0, 99, 255, 0);
  border: 1px solid rgba(0, 99, 255, 0);
  color:white;
  font-family:Bungee Shade;
  text-align: center;
  box-sizing: border-box;
  /*width:100%;*/
  width: 85%;
  float: right;
  font-size:15px;
}
ul {
  color:black;
  font-family:Roboto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #b4b4b4;
  border-radius: 18px;
  color: white;
}
#body{
  padding-bottom: 100px;
}
#content{
  position: absolute;
  top:200;
  left:25%;
  right:25;
  width:50%;
}
#content-archive{
  position: relative;
  top:20;
  left:25;
  right:25;

}
#content img {
  background-color: #ffff;
  border: 20px solid #ffff;
  border-radius: 25px;

}
#content-archive img {
  background-color: #ffff;
  border: 20px solid #ffff;
  border-radius: 25px;

}
#content p {
  background-color: #ffff;
  border: 20px solid #ffff;
  border-radius: 25px;
  color:black;
  font-size: 20px;
  font-family: Roboto;
  text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 20px;
  border-radius: 60px;

}

#myBtn:hover {
  background-color: #b4b4b4;
}
#welcome{
  width:99%;
  background-color: white;


  position: relative;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  font-family: Roboto;

  border-radius: 60px;

}
#welcome p{
  margin-top: 300px;
  margin-bottom: 50px;
}
footer{
  height: 10px;
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: Roboto;

}
footer p {
  color: white;
}
